
*{
    border: 1px red dotted;
    display: flexbox
}

#headercontainer {
    display: flex;
    justify-content: end;
}

#title-item {
    text-align: center;
    font-size: 50px;
}

#search-field {
    display: flex;
    flex: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    
} 

/*.form-field {
    
}*/

.input-field {
    width: 600px;
    padding: 15px;
}

#voiceSearchButton,
#lenSearchButton {
    padding: 15px;
    align-items: center;
}

